body{
    background-color: rgb(228, 176, 98);}

.imagem{

    width: 500px;
    padding-top:  100px;
padding-bottom: 100px;}
h1{
    color: rgb(0, 0, 0);} 
table{
width: 700px;}    
.tabela2{
    margin-left: 500px;
    align-items: center;
}
.MODO{
    width: 400px;
}

